header{
    background-color: rgb(41, 0, 14);
    height: 50px;
    position: fixed;
    top: 0;
    z-index: 666666;
    width: 100%;
}
.navbar-brand{
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    font-size: 40px;
    font-style: oblique;
    font-weight: bolder;
    color: rgb(211, 90, 165);
    cursor: pointer;
}