html{
    scroll-behavior: smooth;
}
body:after{
    
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url(../images/little\ things\ that\ turn\ a\ house\ into\ a\ home.png) no-repeat center;
        background-size: cover;
        z-index: -1;
        filter: blur(50px);
    } 
.navbar-brand{
    font-weight: 800;
    text-transform: uppercase;
    text-shadow: rgb(255, 0, 179) 2px 0 2px ;
}
.slide-content img{
    height:110px;
    width: 110px;
    margin: 10px;
    cursor: pointer;
    -webkit-box-shadow: 5px 8px 20px  purple;
    box-shadow: 3px purple 5px 16px;
}
.slide-content img:hover{
    -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.425);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.425);
}
.slide-content img:hover{
    height: 110px;
    width: 110px;
    transition: 5s;
}
.slide-content h2{
    color: pink;
    cursor: pointer;
}
.slide-content h2:hover{
    color: rgb(255, 0, 0);
    font-family:'Yellowtail', cursive;
    transition: 4s;
}
#slider{
    margin: 0 auto;
    width: 800px;
    max-width: 100%;
    text-align: center;
}
#slider input[type=radio]{
    display: none;
}
#slider label {
    cursor: pointer;
    text-decoration: none;
}
#slides {
    margin-top: 50px;
    border: 3px solid palevioletred;
    background:#fff;
    position: relative;
    z-index: 1;
}
#overflow{
    width: 100%;
    overflow: hidden;
}
#slide1:checked ~ #slides .inner{
    margin-left: 0;
}
#slide2:checked ~ #slides .inner{
    margin-left: -100%;
}
#slide3:checked ~ #slides .inner{
    margin-left: -200%;
}
#slide4:checked ~ #slides .inner{
    margin-left: -300%;
}
#slides .inner{
    transition: margin-left 800ms cubic-bezier(0.770,0.000,0.175,1.000);
    width: 400%;
    line-height: 0;
    height: 200px;
}
#slides .slide{
    width:25% ;
    float: left;
    display: block;
    height: 100%;
    color: #fff;
}
#slides .slide_1{
    background: rgb(63,0,73);
    background: linear-gradient(90deg, rgba(63,0,73,1) 0%, rgba(0,0,0,0.7147992986257004) 56%, rgba(10,2,93,1) 100%); 
}
#slides .slide_2{
    background:#00171f;
}
#slides .slide_3{
    background: rgb(255,142,247);
    background: linear-gradient(90deg, rgba(255,142,247,0.8884687664128151) 0%, rgba(0,0,0,0.8268441165528712) 66%, rgba(255,106,106,0.7960317916228992) 100%); 
}
#slides .slide_4{
    background:#00171f;
}
.slide-content{
    padding: 10px;
}
#controls{
    margin: -130px 0 0 0 ;
    width: 100%;
    height: 50px;
    position: relative;
    z-index: 666;
}
#controls label{
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: 0.4;
}
#controls label:hover{
    opacity: 1;
}

#bullets{
    margin: 100px 0 0;
    text-align: center;
}
#bullets label{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100% ;
    background: #ccc;
    margin: 0 10px;
}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4){
    background: #444;
}

footer{
    margin-top: 200px;
    position: relative;
    width: 100%;
    min-height: 100px;
    background: rgb(46,80,144);
    background: linear-gradient(0deg, rgba(46,80,144,1) 52%, rgba(0,93,201,1) 76%);
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer .social_icon,footer .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
footer .social_icon li,footer .menu li{
    list-style: none;
}
footer .social_icon li a{
    font-size: 2em;
    color: whitesmoke;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
footer .menu li a{
    font-size: 1.2em;
    color: whitesmoke;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}
footer .menu li a:hover{
    opacity: 1;
    color: black;
    transition: 1s;
}
footer .social_icon li a:hover{
    transform: translateY(-10px);
}
footer p{
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}
footer .wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../images/wave.png);
    background-size: 1000px 100px;
}
footer .wave#wave1{
    z-index: 1000;
    opacity: 1 ;
    bottom: 0;
    animation: animativeWave 4s linear infinite;
}
footer .wave#wave2{
    z-index: 999;
    opacity:0.5 ;
    bottom: 10px;
    animation: animativeWave_02 4s linear infinite;
}
footer .wave#wave3{
    z-index: 1000;
    opacity:0.2 ;
    bottom: 0;
    animation: animativeWave 3s linear infinite;
}
footer .wave#wave4{
    z-index: 999;
    opacity:0.7 ;
    bottom: 20px;
    animation: animativeWave_02 3s linear infinite;
}
@keyframes animativeWave{
    0%{
        background-position-x: 1000px;
    }
    100%{
        background-position-x: 0px;
    }
}
@keyframes animativeWave_02{
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: 1000px;
    }
}
