@media (max-width:780px){
    
.container-line{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.candle-holder{
    margin-bottom: 50px;
}
.plate{
    margin-bottom: 50px;
}
.gift-set{
    margin-bottom: 50px;
}
.candle{
    margin-bottom: 50px;
}
.show{
    height: 100%;
}
    
}
@media (max-width:640px){
    .show video{
        width: 80%;
    }
    .show h2{
        width: 100%;
    }
}
@media (max-width:250px){
    .s3 h3{
        font-size: 14px;
    }
    .s3 p{
        font-size: 10px;
    }
}