header{
    background-color: rgb(41, 0, 14);
    height: 50px;
    position: fixed;
    top: 0;
    z-index: 666666;
    width: 100%;
}
ul{
    display: flex;
    justify-content: space-evenly;
}
h1 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 40px;
    font-style: oblique;
    font-weight: bolder;
    color: rgb(211, 90, 165);
    cursor: pointer;
}
h1:hover{
    font-size: 45px;
    color: pink;
}
.heading{
    font-family: 'Nunito Sans', sans-serif;
    margin: 15px;
    text-align:center;
}
.li-a{
    color: rgb(255, 147, 214);
}
.li-a:hover{
    font-size: 30px;
    color: pink;
}
/* section 1 */

.section1{
    background-image: url(../images/little\ things\ that\ turn\ a\ house\ into\ a\ home.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

                                /* section 2 */

.section2-p-1{
    font-size: 55px;
    margin: 20px;
    text-align: center;
}
.container-line{
    display: flex;
    justify-content: space-around;
    margin: 50px 0px;
}
.container-line .candle-holder{
    background-color:plum;
    width: 300px;
    height: 300px;
    padding: 30px;
    border-radius: 50px;
}
.container-line .candle-holder .container-image{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.candle-holder > h2{
    margin-top: 10px;
    font-size: 20px;
    color: black;
    text-align: center;
}
.candle-holder >h4{
    margin-top: 9px;
    color: grey;
    font-size: 13px;
    text-align: center;
}
.button{
    border: 2px whitesmoke solid;
    border-radius: 20px;
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    cursor: pointer;
}
.container-line .plate{
    background-color:plum;
    width: 300px;
    height: 300px;
    padding: 30px;
    border-radius: 50px;
}
.container-line .plate .container-image{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.plate > h2{
    margin-top: 10px;
    font-size: 20px;
    color: black;
    text-align: center;
}
.plate >h4{
    margin-top: 9px;
    color: grey;
    font-size: 13px;
    text-align: center;
}
.container-line .Similarities{
    background-color:plum;
    width: 300px;
    height: 300px;
    padding: 30px;
    border-radius: 50px;
}
.container-line .Similarities .container-image{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Similarities > h2{
    margin-top: 10px;
    font-size: 20px;
    color: black;
    text-align: center;
}
.Similarities > h4{
    margin-top: 9px;
    color: grey;
    font-size: 13px;
    text-align: center;
}
.container-line .gift-set{
    background-color:plum;
    width: 300px;
    height: 300px;
    padding: 30px;
    border-radius: 50px;
}
.container-line .gift-set .container-image{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.gift-set > h2{
    margin-top: 10px;
    font-size: 20px;
    color: black;
    text-align: center;
}
.gift-set > h4{
    margin-top: 9px;
    color: grey;
    font-size: 13px;
    text-align: center;
}
.container-line .candle{
    background-color:plum;
    width: 300px;
    height: 300px;
    padding: 30px;
    border-radius: 50px;
}
.container-line .candle .container-image{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.candle > h2{
    margin-top: 10px;
    font-size: 20px;
    color: black;
    text-align: center;
}
.candle > h4{
    margin-top: 9px;
    color: grey;
    font-size: 13px;
    text-align: center;
}
.container-line .evil{
    background-color:plum;
    width: 300px;
    height: 300px;
    padding: 30px;
    border-radius: 50px;
}
.container-line .evil .container-image{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.evil > h2{
    margin-top: 10px;
    font-size: 20px;
    color: black;
    text-align: center;
}
.evil > h4{
    margin-top: 9px;
    color: grey;
    font-size: 13px;
    text-align: center;
}