header{
    background-color: rgb(41, 0, 14);
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 666666;
    width: 100%;
}
ul{
    display: flex;
    justify-content:space-evenly;
}
h1 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 40px;
    font-style: oblique;
    font-weight: bolder;
    color: rgb(211, 90, 165);
    cursor: pointer;
}
h1:hover{
    font-size: 45px;
    
    color: pink;
}

.heading{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Nunito Sans', sans-serif;
    margin: 15px;
    text-align:center;
}
.li-a{
    color: rgb(255, 147, 214);
}
.li-a:hover{
    font-size: 30px;
    color: #ffeb3b;
}
/* section 1 */

.section1{
    background-image: url(../images/little\ things\ that\ turn\ a\ house\ into\ a\ home.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

                                /* section 2 */

.section2-p-1{
    font-size: 55px;
    margin: 20px;
    text-align: center;
}
.container-line{
    display: flex;
    justify-content: space-around;
    margin: 50px 0px;
}
.container-line .candle-holder{
    background-color:plum;
    width: 300px;
    height: 300px;
    padding: 30px;
    border-radius: 30px;
}
.container-line .candle-holder .container-image{
    width: 200px;
    height: 130px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.candle-holder > h2{
    margin-top: 10px;
    font-size: 20px;
    color: black;
    text-align: center;
}
.candle-holder >h4{
    margin-top: 9px;
    color: grey;
    font-size: 13px;
    text-align: center;
}
.button{
    border: 2px whitesmoke solid;
    border-radius: 20px;
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    cursor: pointer;
}
.container-line .plate{
    background-color:plum;
    width: 300px;
    height: 300px;
    padding: 30px;
    border-radius: 30px;
}
.container-line .plate .container-image{
    width: 200px;
    height: 130px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.plate > h2{
    margin-top: 10px;
    font-size: 20px;
    color: black;
    text-align: center;
}
.plate > h4{
    margin-top: 9px;
    color: grey;
    font-size: 13px;
    text-align: center;
}
.container-line .Similarities{
    background-color:plum;
    width: 300px;
    height: 300px;
    padding: 30px;
    border-radius: 30px;
}
.container-line .Similarities .container-image{
    width: 200px;
    height: 130px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Similarities > h2{
    margin-top: 10px;
    font-size: 20px;
    color: black;
    text-align: center;
}
.Similarities > h4{
    margin-top: 9px;
    color: grey;
    font-size: 13px;
    text-align: center;
}
.container-line .gift-set{
    background-color:plum;
    width: 300px;
    height: 300px;
    padding: 30px;
    border-radius: 30px;
}
.container-line .gift-set .container-image{
    width: 200px;
    height: 130px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.gift-set > h2{
    margin-top: 10px;
    font-size: 20px;
    color: black;
    text-align: center;
}
.gift-set > h4{
    margin-top: 9px;
    color: grey;
    font-size: 13px;
    text-align: center;
}
.container-line .candle{
    background-color:plum;
    width: 300px;
    height: 300px;
    padding: 30px;
    border-radius: 30px;
}
.container-line .candle .container-image{
    width: 200px;
    height: 130px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.candle > h2{
    margin-top: 10px;
    font-size: 20px;
    color: black;
    text-align: center;
}
.candle > h4{
    margin-top: 9px;
    color: grey;
    font-size: 13px;
    text-align: center;
}
.container-line .evil{
    background-color:plum;
    width: 300px;
    height: 300px;
    padding: 30px;
    border-radius: 30px;
}
.container-line .evil .container-image{
    width: 200px;
    height: 130px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.evil > h2{
    margin-top: 10px;
    font-size: 20px;
    color: black;
    text-align: center;
}
.evil > h4{
    margin-top: 9px;
    color: grey;
    font-size: 13px;
    text-align: center;
}
                        /* section 3 */

.section3{
    height: 200px;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.164);
    border: yellow solid 5px;
    margin: 50px;
    margin-left: 150px;
    align-items: center;
}

.s3{
    width: 100%;
    height: 400px;
}
.s3 h2{
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    font-size: 35px;
    color: rgba(0, 0, 0, 0.705);
}
.s3 h3{
    text-align: center;
    color: rgb(247, 119, 119);
    font-size: 18px;
    margin: 20px;
}
.s3 p{
    margin: 20px;
    color: rgb(255, 57, 90);
    margin-left: 20px;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
}
.s3 p:hover{
    color: black;
}
                    /*  section 4  */

.show{
    background-image: url(../videos/dolphin.mp4);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    background: rgb(0,67,108);
    background: linear-gradient(0deg, rgba(0,67,108,1) 46%, rgba(0,116,173,1) 93%); 
}
.show h2{
    font-size: 50px;
    font-family:'Yellowtail', cursive;
    margin: 20px;
    text-align: center;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(194,74,0,1) 47%, rgba(69,134,252,1) 100%); 
    border-radius: 10px;
}
footer{
    height: 300px;
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.9220822117909664) 50%, rgba(91,91,91,1) 100%); 
}
.container-footer{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}
.row{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.footer-wrapper{
    width: 300px;
}
.footer-wrapper > h3{
margin-left: 100px;
display: flex;
color: whitesmoke;
font-size: 30px;
font-weight: 600;
margin-bottom: 15px;
}
.footer-wrapper-1 > p{
    margin-left: 10px;
    color: goldenrod;
    font-family: 'Quintessential', cursive;
    font-weight: bolder;
    font-size: 14px;
}
.footer-wrapper-1{
    width: 250px;
    margin-top: 80px;
}
.footer-wrapper-1 > h3{
    margin-left: 20px;
    display: flex;
    justify-items: center;
    color: whitesmoke;
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 10px;
}
.network{
    margin-top: 80px;
    margin-left: 20px;
}
.footer-wrapper ul li:not(last-child) {
    margin-left: 25px;
    padding: 11px;
    font-family: 'Quintessential', cursive;    font-size: 18px;
}
.footer-wrapper a {
    color: rgb(181, 18, 231);
}
.network{
    margin: 40px 0;
}
.social{
    margin: 0 5px;
}